body {
  background-color: #f0f2f5;
  overflow-x: hidden;
  overflow-y: auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
  color: inherit;
}
